package ${table.basePackage}.dao;

import amy.common.basic.dao.IBasicDAO;
import amy.common.basic.dao.MyBatisDao;
import ${table.basePackage}.vo.${table.entityBaseName}Vo;
import org.springframework.stereotype.Repository;

@MyBatisDao
@Repository("${table.entityBaseName}Dao")
public interface ${table.entityBaseName}Dao extends IBasicDAO<${table.entityBaseName}Vo> {

}