package ${table.basePackage}.intf;


import ${table.basePackage}.intf.dto.Query${table.entityBaseName}DTO;
import ${table.basePackage}.vo.${table.entityBaseName}Vo;
import java.util.List;

public interface I${table.entityBaseName}Service {

  String queryList(Query${table.entityBaseName}DTO dto);

  String deleteByPk(${table.entityBaseName}Vo vo);

  String batchDelete(List<String> pk_customers,String pk_user);

  String queryByPk(String pk);

  String save(${table.entityBaseName}Vo vo);

  List<${table.entityBaseName}Vo> queryListBean(Query${table.entityBaseName}DTO dto);

  ${table.entityBaseName}Vo queryBeanByPk(String pk);
}
