package ${table.basePackage}.intf.impl;

import amy.common.basic.dto.PageCst;
import amy.common.basic.dto.ReqResultDTO;
import amy.common.basic.ex.ExFactory;
import amy.common.utils.DateUtil;
import amy.common.utils.JsonUtils;
import amy.common.utils.StringUtil;
import amy.common.utils.id.IDFactory;
import amy.common.utils.log.ILogger;
import amy.common.utils.log.LogFactory;
import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import ${table.basePackage}.intf.I${table.entityBaseName}Service;
import ${table.basePackage}.intf.dto.Query${table.entityBaseName}DTO;
import ${table.basePackage}.vo.${table.entityBaseName}Vo;
import ${table.basePackage}.dao.${table.entityBaseName}Dao;

import java.util.Date;
import java.util.List;
import java.util.HashMap;
import java.util.Map;
import org.apache.commons.collections.CollectionUtils;

@Service
public class ${table.entityBaseName}ServiceImpl implements I${table.entityBaseName}Service {

    private ILogger logger = LogFactory.getLog(${table.entityBaseName}ServiceImpl.class);
    @Autowired
    private ${table.entityBaseName}Dao ${table.entityLowerBaseName}Dao;

    public String queryList(Query${table.entityBaseName}DTO dto) {
        String retJsonParam = null;
        ReqResultDTO rdto = new ReqResultDTO();

        try {
            if (null == dto) {
                throw ExFactory.getInstance().getBusinessEx("NULL", "MES-000001");
            }
            PageCst<${table.entityBaseName}Vo> datas = PageCst.setPage(dto);
            String whereSql = queryListCoundtion(dto);

            List<${table.entityBaseName}Vo> dtoList = null;
            if (dto.getIsCount()) {
                PageHelper.startPage(datas.getPageNo().intValue(), datas.getPageSize().intValue(),
                        datas.getIsCount().booleanValue());
                Page page = (Page) this.${table.entityLowerBaseName}Dao.selectByCondition(whereSql);
                dtoList = page.getResult();
                datas.setTotal(Long.valueOf(page.getTotal()));
                datas.setPages(Integer.valueOf(page.getPages()));
            } else {
                dtoList = this.${table.entityLowerBaseName}Dao.selectByCondition(whereSql);
                datas.setTotal(Long.valueOf(dtoList.size()));
            }
            datas.setResult(dtoList);

            rdto.setExecResult(true);
            rdto.setExecMsg("");
            rdto.setExecDatas(datas);
        } catch (Exception e) {
            e.printStackTrace();
            logger.error(e);
            rdto.setExecResult(false);
            rdto.setExecMsg("获取数据列表异常！");
            rdto.setExecErrCode(ExFactory.getExSeat());
        }

        retJsonParam = JsonUtils.toJsonStr(rdto);
        return retJsonParam;
    }

    private String queryListCoundtion(Query${table.entityBaseName}DTO dto) {

        StringBuilder sbSql = new StringBuilder();
        sbSql.append(" IFNULL(dr,0) = 0 ");

        if (StringUtil.isNotBlank(dto.getSearchKey())) {
            sbSql.append("and name like '")
                    .append("%"+dto.getSearchKey() + "%")
                    .append("' ");
        }

        sbSql.append(" order by dtcreate  desc ");


        return sbSql.toString();
    }

    public String save(${table.entityBaseName}Vo vo) {
        String retJsonParam = null;
        ReqResultDTO rdto = new ReqResultDTO();

        try {
            if (null == vo) {
                throw ExFactory.getInstance().getBusinessEx("NULL", "CRM-000001");
            }

            Date currentDate = DateUtil.getCurrentDate();
            if (StringUtil.isBlank(vo.getPk())) {
                vo.setPk(IDFactory.getInstance().getID());

                vo.setDtcreate(currentDate);
                vo.setPk_updator(vo.getPk_creator());
                vo.setDtupdate(currentDate);
                vo.setDr(0);
                this.${table.entityLowerBaseName}Dao.insert(vo);
            } else {
                vo.setPk_updator(vo.getPk_creator());
                vo.setDtupdate(currentDate);
                this.${table.entityLowerBaseName}Dao.updateByPrimaryKey(vo);
            }


            rdto.setExecResult(true);
            rdto.setExecMsg("");
        } catch (Exception e) {
            e.printStackTrace();
            logger.error(e);
            rdto.setExecResult(false);
            rdto.setExecMsg("保存异常！");
            rdto.setExecErrCode(ExFactory.getExSeat());
        }

        retJsonParam = JsonUtils.toJsonStr(rdto);
        return retJsonParam;
    }

    public String deleteByPk(${table.entityBaseName}Vo vo) {
        String retJsonParam = null;
        ReqResultDTO rdto = new ReqResultDTO();

        try {
            if (null == vo) {
                throw ExFactory.getInstance().getBusinessEx("NULL", "CRM-000001");
            }

            if (StringUtil.isBlank(vo.getPk())) {
                return rtnReqResultStr(rdto, "主键不能为空");
            }

            if (StringUtil.isBlank(vo.getPk_updator())) {
                return rtnReqResultStr(rdto, "操作人不能为空");
            }

            int count = this.${table.entityLowerBaseName}Dao.discardByPrimaryKey(vo);
            if (count > 0) {
                rdto.setExecResult(true);
                rdto.setExecMsg("");
            } else {
                rdto.setExecResult(false);
                rdto.setExecMsg("删除失败！");
            }
        } catch (Exception e) {
            e.printStackTrace();
            logger.error(e);
            rdto.setExecResult(false);
            rdto.setExecMsg("删除异常！");
            rdto.setExecErrCode(ExFactory.getExSeat());
        }

        retJsonParam = JsonUtils.toJsonStr(rdto);
        return retJsonParam;
    }

    public String batchDelete(List<String> pks,String pk_user) {
            String retJsonParam = null;
            ReqResultDTO rdto = new ReqResultDTO();

            try{
                if (StringUtil.isBlank(pk_user)) {
                    return rtnReqResultStr(rdto, "操作人不能为空");
                }

                if (CollectionUtils.isEmpty(pks)) {
                    return rtnReqResultStr(rdto, "至少选择一个要删除的对象");
                }
                Map<String, Object> mapParams = new HashMap<>();
                mapParams.put("pk_user",pk_user);
                mapParams.put("pk_list", pks);

                int count = this.${table.entityLowerBaseName}Dao.batchDiscard(mapParams);
                if (count > 0) {
                    rdto.setExecResult(true);
                    rdto.setExecMsg("");
                }else{
                    rdto.setExecResult(false);
                    rdto.setExecMsg("删除失败！");
                }
            } catch (Exception e){
                e.printStackTrace();
                logger.error(e);
                rdto.setExecResult(false);
                rdto.setExecMsg("批量删除信息异常！");
                rdto.setExecErrCode(ExFactory.getExSeat());
            }

            retJsonParam = JsonUtils.toJsonStr(rdto);
            return retJsonParam;
    }

    public String queryByPk(String pk) {
        String retJsonParam = null;
        ReqResultDTO rdto = new ReqResultDTO();

        try {
            if (StringUtil.isBlank(pk)) {
                throw ExFactory.getInstance().getBusinessEx("NULL", "CRM-000001");
            }

            ${table.entityBaseName}Vo vo = this.${table.entityLowerBaseName}Dao.selectByPrimaryKey(pk);
            if (null != vo) {
                rdto.setExecDatas(vo);
                rdto.setExecResult(true);
                rdto.setExecMsg("");
            } else {
                rdto.setExecResult(false);
                rdto.setExecMsg("无数据");
            }

        } catch (Exception e) {
            e.printStackTrace();
            logger.error(e);
            rdto.setExecResult(false);
            rdto.setExecMsg("获取数据异常！");
            rdto.setExecErrCode(ExFactory.getExSeat());
        }

        retJsonParam = JsonUtils.toJsonStr(rdto);
        return retJsonParam;
    }


    private String rtnReqResultStr(ReqResultDTO rdto, String msg) {
        rdto.setExecResult(false);
        rdto.setExecMsg(msg);
        return JsonUtils.toJsonStr(rdto);
    }

    public List<${table.entityBaseName}Vo> queryListBean(Query${table.entityBaseName}DTO dto) {
        try {
        if (null == dto) {
        throw ExFactory.getInstance().getBusinessEx("NULL", "MES-000001");
        }
        String whereSql = queryListCoundtion(dto);

        return this.${table.entityLowerBaseName}Dao.selectByCondition(whereSql);

        } catch (Exception e) {
        e.printStackTrace();
        logger.error(e);
        }

        return null;
     }

     public ${table.entityBaseName}Vo queryBeanByPk(String pk) {

           try {
                if (StringUtil.isBlank(pk)) {
                    throw ExFactory.getInstance().getBusinessEx("NULL", "CRM-000001");
                }

               ${table.entityBaseName}Vo vo = this.${table.entityLowerBaseName}Dao.selectByPrimaryKey(pk);

                return vo;
            } catch (Exception e) {
                e.printStackTrace();
                logger.error(e);
            }
            return null;
     }

}
